Nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  margin-left: auto;

}

Nav ul {
  display: flex;
  text-decoration: none;
  padding: 20 px;
}

Nav li {
  list-style-type: none;
  padding: 0.25rem;
}

Footer {
  display: flex;
  padding: 2rem;
}

Footer div {
  margin: auto;
}